cat-service/src/main/resources/META-INF/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/schema/user" xmlns:tns="http://www.example.org/schema/user" elementFormDefault="qualified">
    <element name="user2">
        <complexType>
            <attribute name ="id" type = "string"/>
            <attribute name ="cid" type = "string"/>
            <attribute name ="cname" type = "string"/>
        </complexType>
    </element>
</schema>